<!DOCTYPE html>
<html lang="en">
<head>
    {{>main}}
</head>
<body>
    <div class="about-intro">
        <div class="about-header">lover of films, books and opensource</div>
        <div class="about-headshot"></div>
        <div class="about-des">Hey, I am Yash Shukla. I'm a Fullstack Engineer.</div>
        <div class="about-des">I am a graduate of IIT Kharagpur. I have 3+ years of working expirience in IT industry</div>
        <div class="about-des">My domain of working is technologies associated with Javascript and Salesforce platform which includes Node.js, LWC, Apex development</div>
        <div class="about-whatido">what i do</div>
        <div class="about-what">Web development (Javascript, Express.js, Node.js)</div>
        <div class="about-what">Salesforce development (Apex classes, Apex triggers, Visual Flows, LWC)</div>
    </div>
    <div class="about-next">
        <div class="about-ready">ready to see what's next?</div>
        <a href="/contact" class="about-chat">let's chat</a>
    </div>
    {{>footer}}
</body>
</html>