<!DOCTYPE html>
<html lang="en">
<head>
    {{> main}}
</head>
<body>
    <div class="home">
        <div class="decor"></div>
        <div class="home-case">
            <div class="home-box">
                <div class="typewriter">
                    <h1>Hi, I'm Yash Shukla! I'm a</h1>
                </div>
                <div class="typewriter-1">
                    <h1>Full Stack Engineer</h1>
                </div>
                <div class="typewriter-2">
                    <h1>and a writer.</h1>
                </div>
            </div>
            <a href="/work" class="home-button">recent work</a>
            <a href="/contact" class="home-button">let's chat</a>
        </div>
    </div>
</body>
</html>